@use 'variaveis';

#about {
    background-color: variaveis.$corDeFundo;
}

.about {
    align-items: center;
    font-size: 20px;

    .h1-about {
        padding-top: 100px;
        margin-bottom: 100px;
    }

    &__img {
        img{
            margin-bottom: 50px;
            height: 300px;

            @media (max-width: 768px) {
                height: 50%;
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                height: 50%;
            }

        }

    &__description {
        align-items: center;
        }
    }
}