@use 'variaveis';

#questions .questions .questions__answers {
    background-color: #147167;
    color: variaveis.$corDaFonts;
}

.questions {
    &__answers{
        background-color: #147167;
        color: variaveis.$corDaFonts;
    }
}